<div class="container-fluid card login-container">
  <h3 class="text-center">Create an account</h3>
  <hr>
  <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
    <p *ngFor="let msg of errorMsg">{{ msg }}</p>
  </div>
  <div class="mb-3">
    <label for="firstname" class="form-label"> Firstname</label>
    <input [(ngModel)]="registerRequest.firstname" type="text" name="firstname" id="firstname" class="form-control" placeholder="Firstname">
  </div>
  <div class="mb-3">
    <label for="lastname" class="form-label"> Lastname</label>
    <input [(ngModel)]="registerRequest.lastname" type="text" name="lastname" id="lastname" class="form-control" placeholder="Lastname">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label"> Email address</label>
    <input [(ngModel)]="registerRequest.email" type="email" name="email" id="email" class="form-control" placeholder="contact@xyz.com">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label"> Password</label>
    <input [(ngModel)]="registerRequest.password" type="password" name="password" id="password" class="form-control" placeholder="Password">
  </div>
  <div class="d-flex justify-content-between mb-3">
    <button (click)="register()" type="button" class="btn btn-primary">
      <em class="fas fa-sign-in-alt">&nbsp;Register</em>
    </button>
    <div>
      Already have an account &nbsp;
      <button (click)="login()" type="button" class="btn btn-link">
        Login
      </button>
    </div>
  </div>
</div>
